[user]
	name = Linos Giannopoulos
	email = linosgian00@gmail.com
[alias]
	testme = push origin -f HEAD:jenkins/lgian
	cmv = commit -v
	cma = commit --amend -v
	lg = log --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit
	lgg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset by %C(yellow)%ae%Creset' --abbrev-commit --date=relative
	amen = !git add -A && git commit --amend --no-edit
	st = status -sb
	dfc = diff --cached
	co = checkout
	cb = checkout -b
	br   = branch
	f = fetch
	rbm = pull --rebase origin master
	rbc = rebase --continue
	rbs = rebase --skip
	rba = rebase --abort

[url "git@github.skroutz.gr:"]
	insteadOf = skroutz:
[includeIf "gitdir:~/work/"]
    path = .gitconfig-work
