[user]
	email = lgian@skroutz.gr
	name = Linos Giannopoulos
[alias]
	testme = push origin -f HEAD:jenkins/lgian
	lg = log --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit
	amen = !git add -A && git commit --amend --no-edit
	st = status

[url "git@github.skroutz.gr:"]
	insteadOf = skroutz:
