[user]
	name = Linos Giannopoulos
	email = linosgian00@gmail.com
[alias]
	cmv = commit -v
	cma = commit --amend -v
	lg = log --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit
	lgg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset by %C(yellow)%ae%Creset' --abbrev-commit --date=relative
	amen = !git add -A && git commit --amend --no-edit
	st = status -sb
	dfc = diff --cached
	co = checkout
	cb = checkout -b
	br   = branch
	f = fetch
	rbm = pull --rebase origin master
	rbc = rebase --continue
	rbs = rebase --skip
	rba = rebase --abort
	brr = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'

[includeIf "gitdir:~/work/"]
    path = .gitconfig-work

[url "git@gitlab-ssh.matrix.org"]
  insteadOf = git@gitlab.int.matrix.org
[push]
	default = current
[init]
	defaultBranch = main
