[Unit]
Description=Lock system on sleep
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=Display=:0
ExecStart=/home/lgian/.config/i3/i3lock_multimonitor.sh -i /home/lgian/Pictures/wallpaper.jpg

[Install]
WantedBy=suspend.target
